version: '2'

services:
  lfs:
    restart: unless-stopped
    image: evilfreelancer/docker-lfs-build
    volumes:
      - ./book:/lfs/book
      - ./image:/lfs/image
      - ./sources:/lfs/sources
      - ./tools:/lfs/tools
    entrypoint: ["sleep", "inf"]
